*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
/*导航栏*/
.frame{

}
.nav{
	width: 100%;
	height: 40px;
	background: #f4f4f4;
	border-bottom: 1px solid #ccc;
}
.nav-con{
	width: 1200px;
	margin: 0 auto;
	line-height: 40px;
}
.nav-con-left{
	float: left;
	width: 180px;
	color: #666;
}
.nav-con-left a{
	color: #00a0e9;
}
.nav-con-tow{
	width: 160px;
	float: left;
}
.nav-con-tow a:nth-child(1),.nav-con-tow a:nth-child(2){
	height: 40px;
    width: 79px;
    border-right: 1px solid #ccc;
    color: #555;
    display: block;
    text-align: center;
    float: left;
}
.nav-con-tow a:nth-child(2){
	border-right: none;
}
.nav-con-tow span{
	padding-right: 10px;
}
.iconfont{
	font-size: 22px;
}
.nav-con-right{
	width: 700px;
	float: right;
}
.nav-con-right li{
	float: left;
	text-align: center;
	width: 90px;
	color: #666;

}
.nav-con-right li a{
	width: 85px;
	display: inline-block;
	color: #666;
}
strong{
	margin-left: 35px;	
}
strong a{
	color: #f60;
}
.icon-dianhua:before{
	color: #aaa;
}
/*搜索栏和功能*/
.grabb{
	width: 100%;
	background: #fafafa;
}
.grabble{
	width: 1200px;
	height: 100px;
	margin:0 auto;
}
.grabble-left{
	width: 360px;
	float: left;
}
.grabble-left-a{
	float: left;
    margin-top: 20px;
    height: 80px;
    margin-right: 5px;
}
.grabble-left-b{
	width: 180px;
    float: left;
    margin-top: 32px;
    border-left: 1px solid #aaa;
    height: 40px;
    font-size: 12px;
    color: #0ab2e4;
}
.grabble-left-b p{
	font-size: 14px;
    margin-left: 10px;
}
.grabble-con{
	float: left;
	height: 35px;
	border:2px solid #0ab2e4;
	border-radius: 5px;
	background: #fff;
	margin:30px 0 0 60px;
}
.btn,.btn1{
	width: 100px;
    height: 35px;
    border: none;
    float: left;
    cursor: pointer;
}
.btn{
    border-right: 1px solid #aaa;
    background: #eee;
    border-radius: 3px 0 0 3px;
    outline: none;
}
.txt{
	width: 300px;
	height: 35px;
	border:none;
	float: left;
	margin-left: 10px;
    outline: none;	
}
.btn1{
	background: #0ab2e4;
	border-radius: 0 3px 3px 0;
	color: #fff;
	font-size: 16px;
}
.btn2{
	padding: 7px;
    margin-top: 27px;
    float: right;
    border: 1px solid #ccc;
    background: #eee;
    outline: none;
    cursor: pointer;
}
.btn2 span{
	color: red;
	padding: 0 5px;
    font-weight: bold;
}
/*视图*/
.viewport{
	background: #0d64f1;
	position: relative;
}
.img img{
	width: 100%;
}
.img a{
	color: #fff;
    position: absolute;
    top: 5px;
    left: 335px;
    font-size: 26px;
    font-weight: bold;
}
.main{
	width: 1000px;
	margin:0 auto;
}
.main-toolbar{
	height: 40px;
}
.main-toolbar li{
	width: 172px;
    height: 47px;
    background: url(../images/12.png) no-repeat 0 0;
    float: left;
    text-align: center;
    line-height: 40px;
}
.main-toolbar a{
	color: #fff;
}
.main-back{
	width: 1000px;
	height: 245px;
	background: url(../images/13.png) no-repeat;
	background-size: 100%;
	margin-top: 15px;
}
.main-back-horn{
	width: 100px;
	height: 75px;
	background: url(../images/8.jpg) no-repeat;
	float: left;
    margin: 90px 0 0 20px;
}
.main-back-title{
	width: 230px;
    float: left;
    text-align: center;
    margin-top: 95px;
}
.main-back-title h1,.main-back-con a{
	color: #075eec;
}
.main-back-title p,.main-back-con p{
	color: #476990;
}
.main-back-con{
	width: 520px;
	margin: 70px 0 0 15px;
	float: left;
}
.main-back-con span{
	font-weight: bold;
}
.main1{
	width: 1000px;
	margin: 0 auto;
	background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,.2));
}
/*页尾*/
.last{
	height: 360px;
	width: 100%;
	background:#dbdbdb;
}
.last-top{
	width: 1200px;
	height: 255px;
	border-bottom: 1px solid #aaa;
	margin: 0 auto;
}
.last-top-left{
	width: 300px;
	float: left;
}
.last-top-left img{
	padding-top:30px;
}
.last-top-title{
	width: 600px;
	float: left;
}
.last-top-title dl{
	float: left;
	margin: 40px 29px 0 0;
}
.last-top-title dd{
	margin: 10px 0 0 27px;
}
.last-top-title a{
	color: #777;	
}
.icon-msnui-cart-copy-copy:before,.icon-car2:before,.icon-wenti1:before{
	color: #666;
}
.last-top-right{
	width: 250px;
	float: left;
}
.last-top-right img{
	margin: 35px 0 0 40px;
}
.last-top-right p{
	color: #777;
	font-size: 12px;
	margin-left: 43px;
}
.last-bottom{
    width: 1200px;
    margin: 20px auto;
}
.last-bottom-left{
	width: 50%;
	float: left;
}
.last-bottom-left li,.last-bottom-left a,.last-bottom-left p{
	float: left;
	color: #777;
	font-size: 14px;
}
.last-bottom-right{
	width: 50%;
	float: left;
}
.last-bottom-right span{
	height: 32px;
	float: right;
	margin-left:10px; 
}
.last-bottom-right span:nth-child(3){
	width:86px; 
	background: url(../images/11.png) no-repeat -5px -103px ;
}
.last-bottom-right span:nth-child(2){
	width: 88px;
	background: url(../images/11.png) no-repeat -95px -103px ;
}
.last-bottom-right span:nth-child(1){
	width: 90px;
	background: url(../images/11.png) no-repeat -191px -103px ;
}

.cf::after{content: "";display: table;clear:both;}